<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> {{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="todo-card">
      <h2>Whats needs to be done?</h2>
      <div class="input-todo">
        <input matInput type="text" [(ngModel)]="todoText" placeholder="Enter something to do" />
      </div>
      <button mat-flat-button (click)="addTodo()">Add</button>
      <mat-tab-group>
        <mat-tab label="All">
          <div class="loader">
            <mat-spinner *ngIf="isLoading"></mat-spinner>
          </div>
          <h3>{{getNumberOfPendingTasks(dataListTodo.todos)}} taks remaining</h3>
          @for (item of dataListTodo.todos; track dataListTodo.todos;) {
          <todo-component
            [checked]="item.completed"
            [todoText]="item.todo"
            [id]="item.id"
            [isEditable]="item.isEditable"
          ></todo-component>
          }
        </mat-tab>
        <mat-tab label="Active">
          <h3>{{getNumberOfPendingTasks(dataListTodo.todos)}} taks remaining</h3>
          @for (item of dataListTodo.todos | filter: 'completed' : false; track dataListTodo.todos) {
            <todo-component
            [checked]="item.completed"
            [todoText]="item.todo"
            [id]="item.id"
            [isEditable]="item.isEditable"
          ></todo-component>
          }
        </mat-tab>
        <mat-tab label="Completed">
          <h3>{{getNumberOfPendingTasks(dataListTodo.todos)}} tasks remaining</h3>
          @for (item of dataListTodo.todos | filter: 'completed' : true; track dataListTodo.todos) {
            <todo-component
            [checked]="item.completed"
            [todoText]="item.todo"
            [id]="item.id"
            [isEditable]="item.isEditable"
          ></todo-component>
          }
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>
